
.container {
    display: flex;
}
.left-panel{
    width: 312px;
    height: 687px;
    top: 280px;
    right: 168px;
    bottom: 900px;
}
.title{
    height: 31px;
    top: calc(50% - 31px/2 - 674px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #758095;
}
.menu-list{
    width: 154px;
    height: 630px;
    top: calc(50% - 630px/2 - 317.5px);
}